@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.header {
    background-color: #ffffff;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

.header .logo {
    display: block;
    width: 200px;
}

.header a {
    display: block;
    width: max-content;
    margin: 0 auto;
}

.content {
    background-color: #ffffff;
    width: 100%;
}

.content .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content #apexchartsrealtime-chart {
    margin: auto;
}

.content .card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    line-height: 1.5;
    text-align: justify;
    width: 75%;
    margin: 3rem auto;
    position: relative;
}

.content .card .badge {
    position: absolute;
    background-color: #2a2a2a;
    width: 50px;
    height: 50px;
    top: -1.5rem;
    left: -1.5rem;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
}

.content .card mark {
    background-color: #feeaef;
}

.content .card .score {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #feeaef;
    padding: .5rem 1rem;
    width: max-content;
    border-radius: .5rem;
    color: #f7345e;
    font-weight: 700;
}

.footer {
    background-image: linear-gradient(to top left, #46CF76 0%, #18ADE0 100%);
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 2rem 2rem 0 0;
    margin-top: 2rem;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}