@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    padding: 1rem 0;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: block;
    width: 200px;
}

.header a {
    display: block;
    width: max-content;
}

.header .right-header {
    display: flex;
}

.header .right-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.header .right-header-text small {
    color: #909090;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.header .company-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .pulsing-circle {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 15px;
    height: 15px;
}

.header .pulsing-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 50%;
    background-color: #ff7e82;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.header .pulsing-circle::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f7345e;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.content {
    background-color: #ffffff;
    width: 100%;
}

.content .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content .realtime-charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content #apexchartsrealtime-chart {
    margin: auto;
}

.content .details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content .tweets {
    width: 50%;
}

.content .words-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .card {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
    border-radius: .75rem;
    line-height: 1.5;
    text-align: justify;
    width: 75%;
    margin: 3rem auto;
    position: relative;
    font-size: 14px;
}

.content .card .badge {
    position: absolute;
    background-color: #2a2a2a;
    width: 50px;
    height: 50px;
    top: -1.5rem;
    left: -1.5rem;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
}

.content .card mark {
    background-color: #feeaef;
}

.content .card .score {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #feeaef;
    padding: .5rem 1rem;
    width: max-content;
    border-radius: .5rem;
    color: #f7345e;
    font-weight: 700;
}

.footer {
    background-image: linear-gradient(to top left, #46CF76 0%, #18ADE0 100%);
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 2rem 2rem 0 0;
    margin-top: 2rem;
}

@keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }